body {
  margin: 0 auto;
  font-family: Helvetica;
  background-color: black;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}

/*Header*/

.header {
   display: flex;
   align-items: center;
   height: 69px;
   border-bottom: 1px solid seashell;
   width: 100%;
   position: fixed;
   z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img{
  margin-left: 10px;
  height: 50px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav span a{
  color: seashell;
}

/*Header End*/

.content {
  padding-top: 69px;
}

/*Mission Content*/

.ourmission {
  margin: 0 auto 69px auto;
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url('../images/img-mission-background.jpg');
}

.image-content {
  background-color: black;
  height: 200px;
  width: 1200px;
}


/*Mission Content End*/
